@model WebApplication1.Perks

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Perks</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.access_lvl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.access_lvl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Effect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Effect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
