@model IEnumerable<WebApplication1.Quest>

@{
    ViewData["Title"] = "Quest";
}

<h1>Quest</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Receving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.acess_lvl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recewing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NPC_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player_Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Receving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.acess_lvl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recewing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NPC_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player_Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
